openapi: 3.0.1
info:
  title: Natura2000 API
  description: Information about the Swedish Natura 2000 nature protection sites.
  version: 2.0.0-4
servers:
  - url: https://nvpub.vic-metria.nu/n2000/v2/rest/
tags:
  - name: Supporting data
  - name: N2000 sites
paths:
  /arter:
    get:
      tags:
        - Supporting data
      summary: All species within the N2000 sites
      operationId: arter
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Species"
        default:
          $ref: "#/components/responses/GeneralError"

  "/arter/{grupp}":
    get:
      tags:
        - Supporting data
      summary: Filter species by species group
      operationId: arter_grupp
      parameters:
        - name: grupp
          in: path
          description: The species group name (e.g. _"B - Fåglar"_), see the resource
            /artgrupper
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpeciesFiltered"
        default:
          $ref: "#/components/responses/GeneralError"

  /artgrupper:
    get:
      tags:
        - Supporting data
      summary: All species groups within the N2000 sites
      operationId: getArtGruppList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpeciesGroup"
        default:
          $ref: "#/components/responses/GeneralError"

  /naturtyper:
    get:
      tags:
        - Supporting data
      summary: All nature types within the N2000 sites
      operationId: naturtyper
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeneralType"
        default:
          $ref: "#/components/responses/GeneralError"

  /nmdklass:
    get:
      tags:
        - Supporting data
      summary: All NMD classes within the N2000 sites
      operationId: nmdklass
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeneralType"
        default:
          $ref: "#/components/responses/GeneralError"

  "/dokument/{kod}/{id}":
    get:
      tags:
        - Supporting data
      summary: A document related to a N2000 site (e.g. a maintainance plan)
      description: Information about what documents there are, use _/omrade_.
      operationId: document_kod_id
      parameters:
        - name: id
          in: path
          description: The document ID
          required: true
          schema:
            type: string
        - name: kod
          in: path
          description: The code (_"kod"_) for an N2000 site
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Document"
        default:
          $ref: "#/components/responses/GeneralError"

  /omrade:
    get:
      tags:
        - N2000 sites
      summary: All Natura 2000 sites
      description: Full information for an site is available via _/omrade/{id}_
      operationId: omrade
      parameters:
        - name: artgrupp
          in: query
          description: Filter by species group __key__ (see _/artgrupper_)
          schema:
            type: string
        - name: artnamn
          in: query
          description: Filter by species __key__ (see _/arter_)
          schema:
            type: string
        - name: kod
          in: query
          description: Filter by N2000 site __code__. Can be partial.
          schema:
            type: string
        - name: kommun
          in: query
          description: Filter by [municipality
            code](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/kommunkoder.2052.html)
            e.g. 2309.
          schema:
            type: string
        - name: lan
          in: query
          description: Filter by [regional
            code](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/lansregister.2053.html)
            e.g. 'BD'
          schema:
            type: string
        - name: limit
          in: query
          description: The number of items to return
          schema:
            type: integer
            format: int32
            default: 100
        - name: namn
          in: query
          description: Filter by N2000 site __name__. Can be partial
          schema:
            type: string
        - name: naturtypkod
          in: query
          description: Filter by nature type __key__ (see _/naturtyper_)
          schema:
            type: string
        - name: naturtypnamn
          in: query
          description: Filter by nature type name (i.e.  __value__ from _/naturtyper_)
          schema:
            type: string
        - name: nmdklasskod
          in: query
          description: Filter by NMD class __key__ (see _/nmdklass_)
          schema:
            type: string
        - name: nmdklassnamn
          in: query
          description: Filter by NMD class name (i.e.  __value__ from _/nmdklass_)
          schema:
            type: string
        - name: omradestypkod
          in: query
          description: Filter by [site
            type](https://en.wikipedia.org/wiki/Natura_2000#History) (i.e.
            __key__ from _/omrade/omradestyper_).
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/N2000Site"
        default:
          $ref: "#/components/responses/GeneralError"

  /omrade/nolinks:
    get:
      tags:
        - N2000 sites
      summary: All Natura 2000 sites, without links in the results
      description: Same as _/omrade_, but without the links data (i.e. the
        "atom.link"-property). Full information for an site is available via
        _/omrade/{id}_
      operationId: omrade_nolinks
      parameters:
        - name: artgrupp
          in: query
          description: Filter by species group __key__ (see _/artgrupper_)
          schema:
            type: string
        - name: artnamn
          in: query
          description: Filter by species __key__ (see _/arter_)
          schema:
            type: string
        - name: kod
          in: query
          description: Filter by N2000 site __code__. Can be partial.
          schema:
            type: string
        - name: kommun
          in: query
          description: Filter by [municipality
            code](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/kommunkoder.2052.html)
            e.g. 2309.
          schema:
            type: string
        - name: lan
          in: query
          description: Filter by [regional
            code](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/lansregister.2053.html)
            e.g. 'BD'
          schema:
            type: string
        - name: limit
          in: query
          description: The number of items to return
          schema:
            type: integer
            format: int32
            default: 100
        - name: namn
          in: query
          description: Filter by N2000 site __name__. Can be partial
          schema:
            type: string
        - name: naturtypkod
          in: query
          description: Filter by nature type __key__ (see _/naturtyper_)
          schema:
            type: string
        - name: naturtypnamn
          in: query
          description: Filter by nature type name (i.e.  __value__ from _/naturtyper_)
          schema:
            type: string
        - name: omradestypkod
          in: query
          description: Filter by [site
            type](https://en.wikipedia.org/wiki/Natura_2000#History) (i.e.
            __key__ from _/omrade/omradestyper_).
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/N2000SiteNoLinks"
        default:
          $ref: "#/components/responses/GeneralError"

  /omrade/extentAsWkt:
    get:
      tags:
        - N2000 sites
      summary: Combined geographical extent of one or more N2000 sites
      description: Note that the response is in
        [WKT](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry)
        format, encoded as [SWEREF99 TM / EPSG:3006](https://epsg.io/3006).
      operationId: omrade_extentAsWkt
      parameters:
        - name: id
          in: query
          description: Comma separated list of N2000 site codes (_"kod"_). E.g.
            "...?id=SE0720305&id=SE0720086".
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                $ref: "#/components/schemas/WktString"
        default:
          $ref: "#/components/responses/GeneralError"

  /omrade/omradestyper:
    get:
      tags:
        - Supporting data
      summary: All site types for N2000 sites
      operationId: omrader_omradestyper
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneralType"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}":
    get:
      tags:
        - N2000 sites
      summary: Single N2000 site by ID
      description: Retrieving a single site brings more attributes than in the list of sites
      operationId: omrade_id
      parameters:
        - name: id
          in: path
          description: The site code ("kod"). e.g. SE0820211.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                $ref: "#/components/schemas/N2000SiteExtended"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}/extentAsWkt":
    get:
      tags:
        - N2000 sites
      summary: Geographical extent of the N2000 site
      description: Note that the response is in
        [WKT](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry)
        format, encoded as [SWEREF99 TM / EPSG:3006](https://epsg.io/3006).
      operationId: omrade_id_extentAsWkt
      parameters:
        - name: id
          in: path
          description: Site code ("kod"), e.g. SE0820211
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                $ref: "#/components/schemas/WktString"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}/wkt":
    get:
      tags:
        - N2000 sites
      summary: Geographical representation of the N2000 site
      operationId: omrade_id_wkt
      parameters:
        - name: id
          in: path
          description: Site code ("kod"), e.g. SE0820211
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                $ref: "#/components/schemas/WktString"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}/dokument":
    get:
      tags:
        - N2000 sites
      summary: All documents for a specific N2000 site
      operationId: omrade_kod_dokument
      parameters:
        - name: id
          in: path
          description: Site code ("kod"), e.g. SE0820211
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Document"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}/arter":
    get:
      tags:
        - N2000 sites
      summary: All species within a N2000 site
      operationId: omrade_omradeskod_arter
      parameters:
        - name: id
          in: path
          description: Site code ("kod"), e.g. SE0820211
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpeciesInSite"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}/naturtyper":
    get:
      tags:
        - N2000 sites
      summary: All nature types within a N2000 site
      operationId: omrade_id_naturtyper
      parameters:
        - name: id
          in: path
          description: Site code ("kod"), e.g. SE0820211
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NatureType"
        default:
          $ref: "#/components/responses/GeneralError"

  "/omrade/{id}/nmdklasser":
    get:
      tags:
        - N2000 sites
      summary: All NMD classes within a N2000 site
      operationId: omrade_id_nmdklasser
      parameters:
        - name: id
          in: path
          description: Site code ("kod"), e.g. SE0820211
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NMDClass"
        default:
          $ref: "#/components/responses/GeneralError"

components:
  schemas:
    NatureType:
      properties:
        naturtyp:
          type: object
          properties:
            kod:
              type: integer
              format: int32
              description: Nature type identifier
            namn:
              type: string
              description: Name of nature type
            omradesKod:
              type: string
              description: Site code (identifier)
            utbredningHA:
              type: number
              format: float
              description: Extent in hectares

    NMDClass:
      properties:
        nmdKlass:
          type: object
          properties:
            kod:
              type: integer
              format: int32
              description: NMD class identifier
            namn:
              type: string
              description: Name of NMD class
            omradesKod:
              type: string
              description: Site code (identifier)
            areaHa:
              type: number
              format: float
              description: Area in hectares

    SpeciesInSite:
      properties:
        art:
          type: object
          properties:
            grupp:
              type: string
              description: Species group
            namn:
              type: string
              description: Species name
            omradesKod:
              type: string
              description: Site code

    Species:
      properties:
        extendedTyp:
          type: object
          properties:
            key:
              type: string
              description: Species identifier
            value:
              type: string
              description: Species name
            group:
              type: string
              description: Species group

    SpeciesFiltered:
      properties:
        typ:
          $ref: "#/components/schemas/KeyValueType"

    SpeciesGroup:
      properties:
        typ:
          $ref: "#/components/schemas/KeyValueType"

    GeneralType:
      properties:
        typ:
          $ref: "#/components/schemas/KeyValueType"

    KeyValueType:
      properties:
        key:
          type: string
          description: Identifier
        value:
          type: string
          description: Name

    Document:
      properties:
        dokument:
          type: object
          properties:
            atom.link:
              $ref: "#/components/schemas/Link"
            fileUrl:
              type: string
              description: Download URL for the document
            id:
              type: integer
              format: int32
              description: Identifier for the document
            kod:
              type: string
              description: The site code (_"kod"_) the document relates to
            mimeType:
              type: string
              description: Filename ending, e.g. _".pdf"_
            namn:
              type: string
              description: Filename of the document
            typ:
              type: string
              description: The type of document, e.g. a maintainance plan

    N2000Site:
      properties:
        omrade:
          type: object
          properties:
            kod:
              type: string
              description: Identifier for site
            namn:
              type: string
              description: Site name
            siteHA:
              type: integer
              format: int32
              description: Size of site in hectare
            kommunerAsText:
              type: string
              description: Municipality name(s)
            lanAsText:
              type: string
              description: Region name(s)
            omradesTyp:
              $ref: "#/components/schemas/KeyValueType"
            atom.link:
              type: array
              items:
                $ref: "#/components/schemas/Link"

    N2000SiteExtended:
      properties:
        omrade:
          type: object
          properties:
            kod:
              type: string
              description: Identifier for site
            namn:
              type: string
              description: Site name
            siteHA:
              type: integer
              format: int32
              description: Size of site in hectare
            karaktar:
              type: string
              description: Characteristics of the site
            kvalitet:
              type: string
              description: Textual description of the site's quality values
            kommunerAsText:
              type: string
              description: Municipality name(s)
            lanAsText:
              type: string
              description: Region name(s)
            omradesTyp:
              $ref: "#/components/schemas/KeyValueType"
            sacDatum:
              type: integer
              format: int32
              description: Special Sites of Conservation establishment date (yyyymm)
            sciDatum:
              type: integer
              format: int32
              description: Sites of Community Importance establishment date (yyyymm)
            sciForeslagetDatum:
              type: integer
              format: int32
              description: Sites of Community Importance proposed date (yyyymm)
            spaDatum:
              type: integer
              format: int32
              description: Special Protection Site establishment date (yyyymm)
            sammanstalltDatum:
              type: string
              format: date-time
              description: Information compilation date
            uppdateratDatum:
              type: string
              format: date-time
              description: Information update date
            uppgiftslamnare:
              type: string
              description: Information provider
            atom.link:
              type: array
              items:
                $ref: "#/components/schemas/Link"

    N2000SiteNoLinks:
      properties:
        omrade:
          type: object
          properties:
            kod:
              type: string
              description: Identifier for site
            namn:
              type: string
              description: Site name
            siteHA:
              type: integer
              format: int32
              description: Size of site in hectare
            kommunerAsText:
              type: string
              description: Municipality name(s)
            lanAsText:
              type: string
              description: Region name(s)
            omradesTyp:
              $ref: "#/components/schemas/KeyValueType"

    Link:
      properties:
        "@rel":
          type: string
          description: Describes the relationship between the current document and the
            linked document/resource
        "@href":
          type: string
          description: Link URL

    WktString:
      type: string
      description: Geometry in WKT-format with the SWEREF99 TM (EPSG:3006) coordinate system.
      example: POLYGON  (( 494297.08800000 6997007.55500000, 581252.96300000
        6997007.55500000, 581252.96300000 7100945.65200000, 494297.08800000
        7100945.65200000, 494297.08800000 6997007.55500000))

    Error:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        fields:
          type: string

  responses:
    GeneralError:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
        application/xml:
          schema:
            $ref: "#/components/schemas/Error"
