openapi: 3.0.1
info:
  description: Translation IN PROGRESS
  version: 2.1.0-0
  title: REST API for Naturvårdsregistret
servers:
  - url: https://nvpub.vic-metria.nu/naturvardsregistret/v2/rest

tags:
  - name: Sites
  - name: Documents
  - name: Environmental objectives
  - name: Rules
  - name: Purposes
  - name: NMD classes

paths:

  /omrade:
    get:
      tags:
        - Sites
      summary: All NVR sites
      operationId: find
      parameters:
        - name: beslutsdatum_from
          in: query
          description: Decision date (from) (yyyy-MM-dd)
          schema:
            type: string
        - name: beslutsdatum_tom
          in: query
          description: Decision date (to) (yyyy-MM-dd)
          schema:
            type: string
        - name: beslutsmyndighet
          in: query
          description: Decision authority (see /omrade/beslutsmyndigheter)
          schema:
            type: string
        - name: status
          in: query
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
        - name: foreskriftssubtyp
          in: query
          description: Rule subtype (see /foreskriftssubtyper)
          schema:
            type: string
        - name: foreskriftstyp
          in: query
          description: Rule type (see foreskriftstyper)
          schema:
            type: string
        - name: forstagangsbeslut
          in: query
          description: TBD Filter only first decision
          schema:
            type: boolean
        - name: gallandedatum_from
          in: query
          description: TBD Date of current decision (from) (yyyy-MM-dd)
          schema:
            type: string
        - name: gallandedatum_tom
          in: query
          description: TBD Date of current decision (to) (yyyy-MM-dd)
          schema:
            type: string
        - name: id
          in: query
          description: NVR-id (can be used as a prefix)
          schema:
            type: string
        - name: kommun
          in: query
          description: Municipality code ([see skr.se](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/lansregister.2052.html))
          schema:
            type: string
        - name: lan
          in: query
          description: Regional code ([see skr.se](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/lansregister.2053.html))
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the output. Max is 1000.
          schema:
            type: integer
            format: int32
            default: "100"
        - name: miljomal
          in: query
          description: Environmental objective (see /miljomal)
          schema:
            type: string
        - name: namn
          in: query
          description: Name of the site. Can be partial.
          schema:
            type: string
            example: Store Mo
        - name: nmdklasskod
          in: query
          description: NMD class code (see /nmdklass)
          schema:
            type: string
        - name: nmdklassniva1kod
          in: query
          description: NMD class code on level 1 (see /nmdklass/niva1)
          schema:
            type: string
        - name: nmdklassniva2kod
          in: query
          description: NMD class code on level 2 (see /nmdklass/niva2)
          schema:
            type: string
        - name: nmdklassniva3kod
          in: query
          description: NMD class code on level 3 (see /nmdklass/niva3)
          schema:
            type: string
        - name: skyddstypkod
          in: query
          description: Protection type code (see /omrade/skyddstyper)
          schema:
            type: string
            example: NP
        - name: skyddstypnamn
          in: query
          description: Protection type name (see /omrade/skyddstyper)
          schema:
            type: string
        - name: syfte
          in: query
          description: Purpose (see /syften)
          schema:
            type: string
        - name: ursprBeslutsdatum_from
          in: query
          description: TBD Original decision date (from) (yyyy-MM-dd)
          schema:
            type: string
        - name: ursprBeslutsdatum_tom
          in: query
          description: TBD Original decision date (to) (yyyy-MM-dd)
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Omrade)
                type: array
                items:
                  $ref: "#/components/schemas/Omrade"

  /omrade/nolinks:
    get:
      tags:
        - Sites
      summary: All NVR sites, without links in the results
      description: Same as _/omrade_, but without the links data (i.e. the
        "atom.link"-property).
      operationId: findNoLinks
      parameters:
        - name: beslutsdatum_from
          in: query
          description: Decision date (from) (yyyy-MM-dd)
          schema:
            type: string
        - name: beslutsdatum_tom
          in: query
          description: Decision date (to) (yyyy-MM-dd)
          schema:
            type: string
        - name: beslutsmyndighet
          in: query
          description: Decision authority (see /omrade/beslutsmyndigheter)
          schema:
            type: string
        - name: status
          in: query
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
        - name: foreskriftssubtyp
          in: query
          description: Rule subtype (see /foreskriftssubtyper)
          schema:
            type: string
        - name: foreskriftstyp
          in: query
          description: Rule type (see foreskriftstyper)
          schema:
            type: string
        - name: forstagangsbeslut
          in: query
          description: TBD Filter only first decision
          schema:
            type: boolean
        - name: gallandedatum_from
          in: query
          description: TBD Date of current decision (from) (yyyy-MM-dd)
          schema:
            type: string
        - name: gallandedatum_tom
          in: query
          description: TBD Date of current decision (to) (yyyy-MM-dd)
          schema:
            type: string
        - name: id
          in: query
          description: NVR-id (can be used as a prefix)
          schema:
            type: string
        - name: kommun
          in: query
          description: Municipality code ([see skr.se](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/lansregister.2052.html))
          schema:
            type: string
        - name: lan
          in: query
          description: Regional code ([see skr.se](https://skr.se/tjanster/kommunerochregioner/faktakommunerochregioner/lansregister.2053.html))
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the output. Max is 1000.
          schema:
            type: integer
            format: int32
            default: "100"
        - name: miljomal
          in: query
          description: Environmental objective (see /miljomal)
          schema:
            type: string
        - name: namn
          in: query
          description: Name of the site. Can be partial.
          schema:
            type: string
            example: Store Mo
        - name: nmdklasskod
          in: query
          description: NMD class code (see /nmdklass)
          schema:
            type: string
        - name: nmdklassniva1kod
          in: query
          description: NMD class code on level 1 (see /nmdklass/niva1)
          schema:
            type: string
        - name: nmdklassniva2kod
          in: query
          description: NMD class code on level 2 (see /nmdklass/niva2)
          schema:
            type: string
        - name: nmdklassniva3kod
          in: query
          description: NMD class code on level 3 (see /nmdklass/niva3)
          schema:
            type: string
        - name: skyddstypkod
          in: query
          description: Protection type code (see /omrade/skyddstyper)
          schema:
            type: string
            example: NP
        - name: skyddstypnamn
          in: query
          description: Protection type name (see /omrade/skyddstyper)
          schema:
            type: string
        - name: syfte
          in: query
          description: Purpose (see /syften)
          schema:
            type: string
        - name: ursprBeslutsdatum_from
          in: query
          description: TBD Original decision date (from) (yyyy-MM-dd)
          schema:
            type: string
        - name: ursprBeslutsdatum_tom
          in: query
          description: TBD Original decision date (to) (yyyy-MM-dd)
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Omrade)
                type: array
                items:
                  $ref: "#/components/schemas/Omrade"

  /omrade/extentAsWkt:
    get:
      tags:
        - Sites
      summary: Combined geographical extent of one or more N2000 sites
      description: Note that the response is in
        [WKT](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry)
        format, encoded as [SWEREF99 TM / EPSG:3006](https://epsg.io/3006).

      operationId: extentAsWkt
      parameters:
        - name: id
          in: query
          description: Comma separated list of site NVR ids. E.g.
            "...?id=2001362&id=2001363".
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            example: [2001362, 2001362] 
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                $ref: "#/components/schemas/WktString"

  "/omrade/{id}/{status}":
    get:
      tags:
        - Sites
      summary: A NVR site
      operationId: get4
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Omrade"

  "/omrade/{id}/{status}/beslutsdokument":
    get:
      tags:
        - Sites
      summary: All decision documents for a site
      operationId: getOmradesBeslutsdokument
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Beslutsdokument)
                type: array
                items:
                  $ref: "#/components/schemas/Beslutsdokument"

  "/omrade/{id}/{status}/extentAsWkt":
    get:
      tags:
        - Sites
      summary: Geographical extent of a site
      description: Note that the response is in
        [WKT](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry)
        format, encoded as [SWEREF99 TM / EPSG:3006](https://epsg.io/3006).
      operationId: extentAsWkt
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                description: The extent of the site as WKT
                type: string

  "/omrade/{id}/{status}/foreskriftsomraden":
    get:
      tags:
        - Sites
      summary: All rules for a site
      operationId: getOmradesForeskriftsomraden
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Syfte)
                type: array
                items:
                  $ref: "#/components/schemas/Foreskriftsomrade"

  "/omrade/{id}/{status}/miljomal":
    get:
      tags:
        - Sites
      summary: All environmental objectives for a site
      operationId: getOmradesMiljomal
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Syfte)
                type: array
                items:
                  $ref: "#/components/schemas/Miljomal"

  "/omrade/{id}/{status}/nmdklasser":
    get:
      tags:
        - Sites
      summary: All NMD classes for a site
      operationId: getOmradesNaturtypNmd
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(NmdKlass)
                type: array
                items:
                  $ref: "#/components/schemas/NmdKlass"

  "/omrade/{id}/{status}/syften":
    get:
      tags:
        - Sites
      summary: All purposes for a site
      operationId: getOmradesSyften
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Syfte)
                type: array
                items:
                  $ref: "#/components/schemas/Syfte"

  "/omrade/{id}/{status}/wkt":
    get:
      tags:
        - Sites
      summary: Geographical representation of a site
      operationId: wkt
      parameters:
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
      responses:
        "200":
          description: Successful operation
          content:
            text/plain;charset=utf-8:
              schema:
                $ref: "#/components/schemas/WktString"

  /omrade/beslutsstatusar:
    get:
      tags:
        - Sites
      summary: A list of all decision status codes
      description: To be used in path parameter *{status}* and query parameter *beslutsstatus*
      operationId: getBeslutsstatusList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  /omrade/beslutsmyndigheter:
    get:
      tags:
        - Sites
      summary: A list of all types of authorites
      description: To be used in query parameter *beslutsmyndighet*
      operationId: getBeslutsmyndighetList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  /omrade/skyddstyper:
    get:
      tags:
        - Sites
      summary: A list of all protection types
      description: To be used in query parameter *skyddstypnamn* or *skyddstypkod* fields
      operationId: getSkyddstyperList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  "/beslutsdokument/{nvrId}/{status}/{id}":
    get:
      tags:
        - Documents
      summary: Returns a specific decision document for a site
      description: Use /omrade/{nvrId}/{status}/beslutsdokument for a complete list of documents for a site
      operationId: get
      parameters:
        - name: status
          in: path
          description: Decision status
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
          required: true
          example: Gällande
        - name: id
          in: path
          description: Id of the document
          schema:
            type: string
          required: true
          example: 231632
        - name: nvrId
          in: path
          description: NVR-id for the site
          schema:
            type: string
          required: true
          example: 2001362
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Beslutsdokument"

  "/foreskriftsomrade/{nvrId}/{status}/{objectid}":
    get:
      tags:
        - Rules
      summary:  Returns a specific rule for a site
      description: Use /omrade/{nvrId}/{status}/foreskriftsomraden for a complete list of rules for a site
      operationId: get2
      parameters:
        - name: status
          in: path
          description: Decision status for this site
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
          required: true
          example: Gällande
        - name: nvrId
          in: path
          description: NVR-id for a site
          schema:
            type: string
          required: true
          example: 2001362
        - name: objectid
          in: path
          description: Id for this rule
          schema:
            type: integer
            format: int64
          required: true
          example: 2493200
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Foreskriftsomrade"

  /foreskriftstyper:
    get:
      tags:
        - Rules
      summary: A list of all rule types
      description: To be used in query parameter *foreskriftstyp*
      operationId: getForeskrifterList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  /foreskriftssubtyper:
    get:
      tags:
        - Rules
      summary: A list of all rule subtypes
      description: To be used in query parameter *foreskriftssubtyp*
      operationId: getForeskriftsSubtyperList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"
              examples:
                response:
                  value:
                    - key: ...
                      value: ...

  /miljomal:
    get:
      tags:
        - Environmental objectives
      summary: A list of all environmental objectives
      description: To be used in query parameter *miljomal*
      operationId: getMiljomalList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  "/miljomal/{nvrId}/{status}/{namn}":
    get:
      tags:
        - Environmental objectives
      summary: A single environmental objective for a site
      description: Use /omrade/{nvrId}/{status}/miljomal for a complete list of objectives for a site
      operationId: get3
      parameters:
        - name: status
          in: path
          description: Decision status
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
          required: true
          example: Gällande
        - name: namn
          in: path
          description: Name of this environmental objective
          schema:
            type: string
          required: true
          example: 12. Levande skogar
        - name: nvrId
          in: path
          description: NVR-id of site
          schema:
            type: string
          required: true
          example: 2001362
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Miljomal"

  /nmdklass:
    get:
      tags:
        - NMD classes
      summary: A list of all NMD classes
      description: To be used in query parameter *nmdklass*
      operationId: getNmdKlasser
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List<Typ>
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  /nmdklass/niva1:
    get:
      tags:
        - NMD classes
      summary: A list of all NMD classes on level 1
      description: To be used in query parameter *nmdklassniva1*
      operationId: getNmdKlasserNiva1List
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List<Typ>
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  /nmdklass/niva2:
    get:
      tags:
        - NMD classes
      summary: A list of all NMD classes on level 2
      description: To be used in query parameter *nmdklassniva2*
      operationId: getNmdKlasserNiva2List
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List<Typ>
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  /nmdklass/niva3:
    get:
      tags:
        - NMD classes
      summary: A list of all NMD classes on level 3
      description: To be used in query parameter *nmdklassniva1*
      operationId: getNmdKlasserNiva3List
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List<Typ>
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

  "/nmdklass/{nvrId}/{status}/{nmdKlassKod}":
    get:
      tags:
        - NMD classes
      summary: A specific NMD class for a site
      operationId: getOmradesNmdKlasser
      parameters:
        - name: status
          in: path
          description: Decision status
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
          required: true
          example: Gällande
        - name: nmdKlassKod
          in: path
          description: NMD class code
          schema:
            type: string
          required: true
          example: 111
        - name: nvrId
          in: path
          description: NVR-id of site
          schema:
            type: string
          required: true
          example: 2001362
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NmdKlass"

  "/syfte/{nvrId}/{status}/{id}":
    get:
      tags:
        - Purposes
      description: Returnerar ett syfte för ett specifikt område
      operationId: get5
      parameters:
        - name: nvrId
          in: path
          description: NVR-id
          schema:
            type: string
            example: 2001362
          required: true
        - name: status
          in: path
          description: Decision status (see /omrade/beslutsstatusar)
          schema:
            type: string
            enum: [Beslutad, Överklagad, Gällande]
            example: Gällande
          required: true
        - name: id
          in: path
          description: Id of the purpose
          schema:
            type: string
            example: 2.21.47.55
          required: true

      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Syfte"

  /syften:
    get:
      tags:
        - Purposes
      summary: A list of purposes
      description: To be used in query paramter *syfte*
      operationId: getSyftenList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                description: List(Typ)
                type: array
                items:
                  $ref: "#/components/schemas/Typ"

components:
  schemas:
    Beslutsdokument:
      type: object
      title: Decision document
      properties:
        nvrId:
          readOnly: false
          description: NVR-id of site
          type: string
          example: 2001362
        beslutsId:
          readOnly: false
          description: Id of decision
          type: string
          example: 100043
        beslutsstatus:
          readOnly: false
          description: Decision status
          type: string
          enum: [Beslutad, Överklagad, Gällande]
          example: Gällande
        beslutstyp:
          readOnly: false
          description: ""
          type: string
        beslutsmyndighet:
          readOnly: false
          description: ""
          type: string
        diarienummer:
          readOnly: false
          description: ""
          type: string
        beslutsdatum:
          readOnly: false
          description: ""
          type: integer
          format: int32
        gallandedatum:
          readOnly: false
          description: ""
          type: integer
          format: int32
        id:
          readOnly: false
          description: ""
          type: string
        namn:
          readOnly: false
          description: ""
          type: string
        typ:
          readOnly: false
          description: ""
          type: string
        mimeType:
          readOnly: false
          description: ""
          type: string
        fileUrl:
          readOnly: false
          description: ""
          type: string
        atomLink:
          readOnly: false
          description: ""
          type: array
          items:
            type: object
      example:
        nvrId: ...
        beslutsId: ...
        beslutsstatus: ...
        beslutstyp: ...
        beslutsmyndighet: ...
        diarienummer: ...
        beslutsdatum: 12345
        gallandedatum: 12345
        id: ...
        namn: ...
        typ: ...
        mimeType: ...
        fileUrl: ...
        atomLink:
          - {"@rel": "self"}
          - {}
      description: ""

    Foreskriftsomrade:
      type: object
      title: Rule
      properties:
        objectId:
          readOnly: false
          description: Id of the rule
          type: integer
          format: int64
        nvrId:
          readOnly: false
          description: NVR-id of the site
          type: string
        beslutsstatus:
          readOnly: false
          description: Decision status
          type: string
        foreskriftstyp:
          readOnly: false
          description: Type of rule
          type: string
        foreskriftssubtyp:
          readOnly: false
          description: Subtype of rule
          type: string
        franDatum:
          readOnly: false
          description: Date that the rule is in effect from
          type: string
        tillDatum:
          readOnly: false
          description: Date that the rule is in effect to
          type: string
        areaHa:
          readOnly: false
          description: Size of the area affected by the rule
          type: number
        foreskriftstypKod:
          readOnly: false
          description: Code for the rule
          type: string
        foreskriftssubtypKod:
          readOnly: false
          description: Code for the rule subtype
          type: string
        atomLink:
          readOnly: false
          description: ""
          type: array
          items:
            type: object
      example:
        objectId: 2493200
        nvrId: 2001362
        beslutsstatus: Gällande
        foreskriftstyp: Tillträdesförbud
        foreskriftssubtyp: Fågel
        franDatum: 1/3
        tillDatum: 15/8
        areaHa: 722.488
        foreskriftstypKod: 2
        foreskriftssubtypKod: 2
        atomLink:
          - {"@rel": "self"}
          - {"@href": "https://nvpub.vic-metria.nu/naturvardsregistret/v2/rest/foreskriftsomrade/2001362/Gällande/2493200"}
      description: Area affected by a rule

    Miljomal:
      type: object
      title: Environmental objective
      properties:
        nvrId:
          readOnly: false
          description: ""
          type: string
        beslutsstatus:
          readOnly: false
          description: ""
          type: string
        namn:
          readOnly: false
          description: ""
          type: string
        atomLink:
          readOnly: false
          description: ""
          type: array
          items:
            type: object
      example:
        nvrId: ...
        beslutsstatus: ...
        namn: ...
        atomLink:
          - {"@rel": "self"}
          - {}
      description: ""

    NmdKlass:
      type: object
      title: NMD class
      properties:
        nvrId:
          readOnly: false
          description: ""
          type: string
        beslutsstatus:
          readOnly: false
          description: ""
          type: string
        kod:
          readOnly: false
          description: ""
          type: string
        foreskriftstyp:
          readOnly: false
          description: ""
          type: string
        namn:
          readOnly: false
          description: ""
          type: string
        areaHa:
          readOnly: false
          description: ""
          type: number
        foreskriftstypNamn:
          readOnly: false
          description: ""
          type: string
        atomLink:
          readOnly: false
          description: ""
          type: array
          items:
            type: object
      example:
        nvrId: ...
        beslutsstatus: ...
        kod: ...
        foreskriftstyp: ...
        namn: ...
        areaHa: 12345
        foreskriftstypNamn: ...
        atomLink:
          - {"@rel": "self"}
          - {}
      description: ""

    Omrade:
      type: object
      title: Site
      properties:
        id:
          readOnly: false
          description: ""
          type: string
        beslutsstatus:
          readOnly: false
          description: ""
          type: string
        namn:
          readOnly: false
          description: ""
          type: string
        skyddstyp:
          readOnly: false
          description: ""
          type: string
        lanAsText:
          readOnly: false
          description: ""
          type: string
        kommunerAsText:
          readOnly: false
          description: ""
          type: string
        beslutstyp:
          readOnly: false
          description: ""
          type: string
        beslutsdatum:
          readOnly: false
          description: ""
          type: integer
          format: int32
        ursprBeslutsdatum:
          readOnly: false
          description: ""
          type: integer
          format: int32
        gallandedatum:
          readOnly: false
          description: ""
          type: integer
          format: int32
        iucnKategori:
          readOnly: false
          description: ""
          type: string
        forvaltare:
          readOnly: false
          description: ""
          type: string
        areaHa:
          readOnly: false
          description: ""
          type: number
        landareaHa:
          readOnly: false
          description: ""
          type: number
        vattenareaHa:
          readOnly: false
          description: ""
          type: number
        skogAreaHa:
          readOnly: false
          description: ""
          type: number
        beslutsmyndighet:
          readOnly: false
          description: ""
          type: string
        atomLink:
          readOnly: false
          description: ""
          type: array
          items:
            type: object
      example:
        id: ...
        beslutsstatus: ...
        namn: ...
        skyddstyp: ...
        lanAsText: ...
        kommunerAsText: ...
        beslutstyp: ...
        beslutsdatum: 12345
        ursprBeslutsdatum: 12345
        gallandedatum: 12345
        iucnKategori: ...
        forvaltare: ...
        areaHa: 12345
        landareaHa: 12345
        vattenareaHa: 12345
        skogAreaHa: 12345
        beslutsmyndighet: ...
        atomLink:
          - {"@rel": "self"}
          - {}
      description: ""

    Syfte:
      type: object
      title: Purpose
      properties:
        nvrId:
          readOnly: false
          description: ""
          type: string
        beslutsstatus:
          readOnly: false
          description: ""
          type: string
        id:
          readOnly: false
          description: ""
          type: string
        namn:
          readOnly: false
          description: ""
          type: string
        beskrivning:
          readOnly: false
          description: ""
          type: string
        atomLink:
          readOnly: false
          description: ""
          type: array
          items:
            type: object
      example:
        nvrId: ...
        beslutsstatus: ...
        id: ...
        namn: ...
        beskrivning: ...
        atomLink:
          - {"@rel": "self"}
          - {}
      description: ""

    Typ:
      type: object
      title: Type
      properties:
        key:
          readOnly: false
          description: ""
          type: string
        value:
          readOnly: false
          description: ""
          type: string
      example:
        key: NP
        value: Nationalpark
      description: Used by value lists

    WktString:
      type: string
      description: Geometry in WKT-format with the SWEREF99 TM (EPSG:3006) coordinate system.
      example: POLYGON  (( 494297.08800000 6997007.55500000, 581252.96300000
        6997007.55500000, 581252.96300000 7100945.65200000, 494297.08800000
        7100945.65200000, 494297.08800000 6997007.55500000))