openapi: 3.0.1
servers:
  - url: https://nvpub.vic-metria.nu/arcgis/rest/services 
info:
  title: ArcGIS REST API for Outdoor Life
  description: Subset of ArcGIS REST API for trails and devices for outdoor life in protected sites.
  version: "1.0.0"
paths:
  /Leder_friluftsliv_WFS/MapServer/0/query:
    get:
      tags:
        - Trails
      summary: Search trails in protected areas
      operationId: searchTrails
      description: |
        By passing in the appropriate options, you can search for
        available trails in the system

      parameters:
        - in: query
          name: f
          description: format,
          required: true
          schema:
            type: string
            enum: [html, json, geojson]
          example: geojson
        - in: query
          name: where
          description: SQL-92 where clause for filtering the response on attributes, if no filtering is needed (e.g. if using the spatial filtering) this can be set to "1=1".
          required: true
          example: SKYDDATOMRADE='Store Mosse'
          schema:
            type: string
        - in: query
          name: outFields
          description: The list of fields to be included in the returned result set. Wildcard * can be used.
          schema:
            type: string
          example: '*'
        - in: query
          name: geometry
          description: A geometry to apply as the spatial filter, to be used with *geometryType* and *spatialRel*
          schema:
            type: string
        - in: query
          name: geometryType
          description: The type of geometry specified by the geometry parameter, to be used with *geometry* and *spatialRel*
          schema:
            type: string
            enum: [esriGeometryPoint, esriGeometryMultipoint, esriGeometryPolyline, esriGeometryPolygon, esriGeometryEnvelope]
        - in: query
          name: spatialRel
          description: The spatial relationship to be applied to the input geometry while performing the query, to be used with *geometry* and *geometryType*
          schema:
            type: string
            enum: [esriSpatialRelIntersects, esriSpatialRelContains, esriSpatialRelCrosses, esriSpatialRelEnvelopeIntersects, esriSpatialRelIndexIntersects, esriSpatialRelOverlaps, esriSpatialRelTouches, esriSpatialRelWithin]
        - in: query
          name: returnCountOnly
          description: If true, the response only includes the count (number of features/records) that would be returned by a query. Useful for preparing multiple calls to API, see also *exceededTransferLimit* property
          schema:
            type: boolean
        - in: query
          name: inSr
          description: The spatial reference of the input geometry
          schema:
            type: string
        - in: query
          name: OutSr
          description: The spatial reference of the output geometries 
          schema:
            type: string
            
      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrailFullSchema'
        '400':
          description: Bad input parameter
        '500':
          description: Internal server error

  /Anordningar_friluftsliv_WFS/MapServer/0/query:
    get:
      tags:
        - Devices
      summary: Searches devices in protected areas
      operationId: searchDevices
      description: |
        By passing in the appropriate options, you can search for
        available devices in the system

      parameters:
        - in: query
          name: f
          description: format,
          required: true
          schema:
            type: string
            enum: [html, json, geojson]
          example: geojson
        - in: query
          name: where
          description: SQL-92 where clause for filtering the response on attributes, if no filtering is needed (e.g. if using the spatial filtering) this can be set to "1=1".
          required: true
          example: SKYDDATOMRADE='Store Mosse'
          schema:
            type: string
        - in: query
          name: outFields
          description: The list of fields to be included in the returned result set. Wildcard * can be used.
          schema:
            type: string
          example: '*'
        - in: query
          name: geometry
          description: A geometry to apply as the spatial filter, to be used with *geometryType* and *spatialRel*
          schema:
            type: string
        - in: query
          name: geometryType
          description: The type of geometry specified by the geometry parameter, to be used with *geometry* and *spatialRel*
          schema:
            type: string
            enum: [esriGeometryPoint, esriGeometryMultipoint, esriGeometryPolyline, esriGeometryPolygon, esriGeometryEnvelope]
        - in: query
          name: spatialRel
          description: The spatial relationship to be applied to the input geometry while performing the query, to be used with *geometry* and *geometryType*
          schema:
            type: string
            enum: [esriSpatialRelIntersects, esriSpatialRelContains, esriSpatialRelCrosses, esriSpatialRelEnvelopeIntersects, esriSpatialRelIndexIntersects, esriSpatialRelOverlaps, esriSpatialRelTouches, esriSpatialRelWithin]
        - in: query
          name: returnCountOnly
          description: If true, the response only includes the count (number of features/records) that would be returned by a query. Useful for preparing multiple calls to API, see also *exceededTransferLimit* property
          schema:
            type: boolean
        - in: query
          name: inSr
          description: The spatial reference of the input geometry
          schema:
            type: string
        - in: query
          name: OutSr
          description: The spatial reference of the output geometries 
          schema:
            type: string 

      responses:
        '200':
          description: Search results matching criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceFullSchema'
        '400':
          description: Bad input parameter
        '500':
          description: Internal server error

components:
  schemas:

    TrailProperties:
      type: object
      description: The properties of the trail features, assuming outfields=*
      properties:
        OBJECTID:
          type: integer
          description: ID of the object in the database
        LEDNAMN:
          type: string
          description: Name of the trail
        LED_ID:
          type: string
          description: Internal ID of the trail
        LEDTYP:
          type: string
          description: Type of trail (see table 4 in data definition document)
        LEDKATEGORI:
          type: string
          description: Category of trail (see table 4 in data definition document)
        LEDMARKERING:
          type: string
          description: Description of markers used for this trail
        SKYDDATOMRADE:
          type: string
          description: Name of protected site(s) that the trail passes through
        STATLIGLED:
          type: string
          description: TBD Name of state owned trail that this trail belongs to
        BESKRIVNING:
          type: string
          description: Description of trail
        SHAPE.LEN:
          type: number
          description: "Length of trail (m)"

    DeviceProperties:
      type: object
      description: The properties of the device features, assuming outfields=*
      properties:
        OBJECTID:
          type: integer
          description: ID of the object in the database
        ANORDNINGSNAMN:
          type: string
          description: Name of the device
        ANORDNING_ID:
          type: string
          description: Internal ID of the device
        TYP:
          type: string
          description: Type of device (see table 5 in data definition document)
        UNDERTYP:
          type: string
          description: Subtype of device (see table 5 in data definition document)
        SKYDDATOMRADE:
          type: string
          description: Name of protected site(s) that the devices belongs to
        STATLIGLED:
          type: string
          description: TBD Name of state owned trail that this device belong to
        BESKRIVNING:
          type: string
          description: Description of device
        NP:
          type: integer
          description: 1 if in National Park
        SKYDDSTYP_KOD:
          type: string
          description: Protection type

    TrailFullSchema:
      description: Data model for trails service, assuming * in "out fields" param and geojson format
      required:
      - type
      - features
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3.3
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            type: object
            description: GeoJSon Feature
            required:
            - type
            - id
            - geometry
            externalDocs:
              url: https://tools.ietf.org/html/rfc7946#section-3.2
            properties:
              type:
                type: string
                enum:
                  - Feature
              id:
                type: integer
              geometry:
                type: object
                description: GeoJSon geometry (LineString)
                required:
                - type
                - geometry
                externalDocs:
                  url: http://geojson.org/geojson-spec.html#geometry-objects
                properties:
                  type:
                    type: string
                    enum:
                    - LineString
                    description: the geometry type (always LineString for trails)        
                  coordinates:
                    type: array
                    items:
                      type: array
                      maxItems: 2
                      minItems: 2
                      items:
                        type: number
              properties:
                $ref: '#/components/schemas/TrailProperties'

    DeviceFullSchema:
      description: Data model for devices service, assuming * in "out fields" param and geojson format
      required:
      - type
      - features
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3.3
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            type: object
            description: GeoJSon Feature
            required:
            - type
            - id
            - geometry
            externalDocs:
              url: https://tools.ietf.org/html/rfc7946#section-3.2
            properties:
              type:
                type: string
                enum:
                  - Feature
              id:
                type: integer
              geometry:
                type: object
                description: GeoJSon geometry (MultiPoint)
                required:
                - type
                - geometry
                externalDocs:
                  url: http://geojson.org/geojson-spec.html#geometry-objects
                properties:
                  type:
                    type: string
                    enum:
                    - MultiPoint
                    description: the geometry type (always MultiPoint for devices)        
                  coordinates:
                    type: array
                    items:
                      type: array
                      maxItems: 2
                      minItems: 2
                      items:
                        type: number
              properties:
                $ref: '#/components/schemas/DeviceProperties'